<h2>Listing users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Ok to text</th>
      <th>Family members</th>
      <th>Protein credits</th>
      <th>Carb credits</th>
      <th>Veggie credits</th>
      <th>Facility</th>
      <th>Primary language</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.name %></td>
      <td><%= user.phone %></td>
      <td><%= user.ok_to_text %></td>
      <td><%= user.family_members %></td>
      <td><%= user.protein_credits %></td>
      <td><%= user.carb_credits %></td>
      <td><%= user.veggie_credits %></td>
      <td><%= user.facility_id %></td>
      <td><%= user.primary_language_id %></td>

      <td class="text-right">
        <%= link "Show", to: user_path(@conn, :show, user), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: user_path(@conn, :edit, user), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: user_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New user", to: user_path(@conn, :new) %>
