<h2>New food group membership</h2>

<%= render "form.html", changeset: @changeset,
                        action: food_group_membership_path(@conn, :create) %>

<%= link "Back", to: food_group_membership_path(@conn, :index) %>
