.account-info-container {
  @include vp-flex-direction(column);
  @include vp-display(flex);
  height: $nomsContainerHeight - 3vh;
  justify-content: space-around;
  padding: 2vh 1vw;
}

.account-action-buttons {
  display: flex ;
  width: 100%;
  justify-content: space-around;

  a.btn.btn-default,
  button.btn.btn-default {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: $textColor;
    text-decoration: none;
    border: 2px solid $textColor;
    border-radius: 1vh;
    text-align: center;
    line-height: normal;
  }

}

// Cart

#cart {
  @include vp-display(flex);
  @include vp-flex-direction(column);
  border-top: 2vh solid black;
  height: 65vh
}

.cart-heading {
  padding: 2vh;
}

.cart-container {
  @include vp-display(flex);
}


.cart-items-container {
  @include vp-display(flex);
  @include vp-flex-direction(column);
  @include vp-align-items(flex-start);
  @include vp-justify-content(flex-start);
  margin-top: 2vh;
  padding: 1vh  0 0 1vh;
  overflow-y: auto;
  height: 58vh;
}

.cart-line_entry {
  margin: 0.2vh 0;
  max-height: 1.2rem;
}

.cart-detail {
    display: inline-block ;
  }

.shopping_cart-svg {
  width: $gutterWidth;
  display: block;
}

form.shopping_cart-button  button{
  // border: 1px solid $textColor;
  font-size: 1.5rem;
  background-color: #2A2A2A;
  width: $nomsNcartContainerWidth;
  text-align: center;
  align-self: center;
  color: white;
  padding: $gutterWidth;
}
