// Layout
.container {
  @include vp-display(flex);
  @include vp-justify-content(center);
  height: 100vh;
  width: 70vw; //revisit
}

// Food selection Layout
.container-fluid,
.main{
  display: flex;
}

.stock-selection-container {
  width: $stockContainerWidth;
}

// Tab-nav layout
.nav-tab-container {
  display: flex;
  width: 100vw;
  background-color: white;

  a {
    text-align: center;
  }
}

.nav-tab {
  @include vp-flex-grow(1);
  @include vp-display(flex);
  height: $navTabHeight;
  justify-content: center;
  align-items: center;
  // border: 1px solid $borderColor;
  // border-radius: $gutterWidth $gutterWidth 0 0;
    &.carbs {
      background-color: rgba(59,136,189,0.8);
      &.active {
        background-color: rgba(59,136,189, 1.0);
      }
    }
    &.protein {
      background-color: rgba(139,61,189,0.8);
      &.active {
        background-color: rgba(139,61,189,1.0);
      }
    }
    &.veggies {
    	background-color: rgba(131,189,73,0.8);
      &.active {
        background-color: rgba(131,189,73,1.0);
      }
    }
  }

.tab-content{
  .tab-pane {
    display:none;

    &.active {
      @include vp-display(flex);
      @include vp-flex-direction(column);
    }
  }
}

// Stock entry layout
.order-stock_list  {
  @include vp-display(flex);
  align-items: flex-start;
  justify-content: space-around;
  overflow-y: auto;
  width: $stockContainerWidth;
  height: 100vh;
  background-color: $stockContainer;
}

.stock-entry {
  @include vp-display(flex);
  @include vp-flex-direction(column);
  margin: .5vh 0;
  min-height: $stockEntryHeight;
  max-height: 2x$stockEntryHeight;
  width: $stockEntryWidth;
	// border: 1px solid #8B3DBD;
	border-radius: 11px;
	background: radial-gradient(circle, rgba(139,61,189,0.3) 0%, #FFFFFF 100%);
}
//
.item-details {
  @include vp-display(flex);
  @include vp-flex-direction(column);
  width: inherit;
}

.stock-image-location, .stock-image {
  border-radius: 11px 11px 0 0;
  width: inherit;
}

.item-info,
.flex-column {
  @include vp-display(flex);
  @include vp-flex-direction(column);
  justify-content: space-between;
  margin-left: $gutterWidth;
}

.item_control-container {
  @include vp-display(flex);
  margin-right: $gutterWidth;
}

.quantity_control_trash-container {
  @include vp-display(flex);
  flex-direction: row;
}

.quantity-available {
  align-self: center;
  margin-right: $gutterWidth;
}
.remove-amount-add-button-container {
  @include vp-display(flex);
  @include vp-flex-direction(column-reverse);
  align-items: center;
  justify-content: space-around;
}

button.plus-minus-button {
    @include vp-display(flex);
    @include vp-flex-direction(column);
    justify-content: center;
    align-items: center;
    width: $plusMinusButtonWidth;
}

button.add-to-cart  {
   @include vp-display(flex);
   @include vp-flex-direction(column);
   justify-content: center;
   align-items: center;
   width: $addToCartWidth;
}

 svg.plus-svg,
 svg.minus-svg,
 svg.trashcan-svg {
  width: $gutterWidth;
 }

.clear-action {
  width: $trashWidth;
}
