@import "../node_modules/sass-autoprefixer/scss/prefixes";
@import "vendors/meyerwebreset";
@import "vendors/responsive-typography";
@import "vendors/include-media";
@import "mixins";
@import "variables";
@import "fonts";
@import "foodSelections";
@import "orders";
@import "stocks";
@import "checkout";
@import "languages";
@import "userSelections";



.stock-entry {
  .hidden {
    display: none;
  }
}













//


// .clear-user-agent-styles table,
// .clear-user-agent-styles thead,
// .clear-user-agent-styles tbody,
// .clear-user-agent-styles tfoot,
// .clear-user-agent-styles tr,
// .clear-user-agent-styles th,
// .clear-user-agent-styles td {
//     display: block;
//     width: auto;
//     height: auto;
//     margin: 0;
//     padding: 0;
//     border: none;
//     border-collapse: inherit;
//     border-spacing: 0;
//     border-color: inherit;
//     vertical-align: inherit;
//     text-align: left;
//     font-weight: inherit;
//     -webkit-border-horizontal-spacing: 0;
//     -webkit-border-vertical-spacing: 0;
// }
// .clear-user-agent-styles th,
// .clear-user-agent-styles td {
//   display: inline;
// }

//Buttons

button.btn-primary,
form.btn-primary button {
  border: 1px solid $textColor;
  border-radius: 5px;
  padding: .2rem;
}
button {
  background: transparent;
  border: none;
  padding: 0;
}

.remove-amount-add-button-container {
  @include vp-display(flex);
  @include vp-flex-direction(column-reverse);
  align-items: center;
  justify-content: space-around;
}

button.plus-minus-button {
    @include vp-display(flex);
    @include vp-flex-direction(column);
    justify-content: center;
    align-items: center;
    width: $plusMinusButtonWidth;
}

button.add-to-cart  {
   @include vp-display(flex);
   @include vp-flex-direction(column);
   justify-content: center;
   align-items: center;
   width: $addToCartWidth;
}

 svg.plus-svg,
 svg.minus-svg,
 svg.trashcan-svg {
  width: $gutterWidth;
 }

.clear-action {
  width: $trashWidth;
}




// Manage pages
main {
    @include vp-display(flex);
    @include vp-flex-direction(column);
}

.form-group{
  display: block;
}

input.form-control,
#user_family_members {
  box-shadow: inset 0 0 0.1rem 0 rgba(0,0,0,0.5);
}




// .legend {
//   .room_temperature {
//     color: $room-temp;
//   }
//   .refrigerator {
//     color: $refrigerator;
//   }
//   .freezer {
//      color: $freezer;
// //   }
// // }
//
//
// .table-striped>tbody {
//   tr.room_temperature>td {
//     color: $room-temp;
//   }
//   tr.refrigerator>td {
//     color: $refrigerator;
//   }
//   tr.freezer>td {
//      color: $freezer;
//   }
// }



// Layout
