@import "vendors/meyerwebreset";
@import "vendors/responsive-typography";
@import "variables";
@import "mixins";
@import "vendors/include-media";

.stock-entry {
  .hidden {
    display: none;
  }
}

// Layout
.container {
  display: flex;
  height: 100vh
}
// Food selection Layout
.container-fluid, 
.main{
  display: flex;
}
.stock-selection-container {
  width: $stockContainerWidth;
}

.shopping-cart-svg {
  width: $gutterWidth;
  display: block;
}

.right-side-container {
  width: $nomsNcartContainerWidth;
  margin-left: $gutterWidth;
  height: 100%
}

.account-info-container {
  display: flex;
  height: $nomsContainerHeight;
  flex-direction: column;
}

.account-action-buttons {
  display: block;
  width: 100%
}


// Tab-nav layout
.nav-tab-container {
  display: flex;
  width: 100%;

  a {
    width: $stockContainerWidth/3;
    text-align: center;
  }
}

.nav-tab {
  flex-grow: 1;
  height: $navTabHeight;
  display: flex;
  justify-content: center;
  h3 {
    align-self: center;  

  }
}

.tab-content{
  .tab-pane {
    display:none;

    &.active {
      display: flex;
      flex-direction: column;
    }
  }
}
.nom-type-remaining {
  display: flex;
  width: 100%;
  height: $nomTypeRemainingSize;
  justify-content: center;
  align-items: center;
}
// Stock entry layout
.stock-list {
  display: flex;
  flex-direction: column;
  max-height: $stockListHeight;
  overflow-y: auto;
}
.stock-entry {
  width: $stockContainerWidth;
  display: flex;
  justify-content: space-between;
  margin: 1vh 0;
  min-height: $stockEntryHeight;
}

.item-details {
  display: flex; 
  flex-direction: row;
}

.stock-image-location, .stock-image {
  width: $stockEntryImageSize;
  height: $stockEntryImageSize;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item_control-container {
  display: flex;
}

.quantity-available {
  align-self: center;
}



//Buttons
button {
  background: transparent;
  border: none;
  padding: 0;
}

.remove-amount-add-button-container {
 display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
}

button.plus-minus-button {
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $plusMinusButtonWidth;
}

button.add-to-cart  {
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: $addToCartWidth;
}

 svg.plus-svg, 
 svg.minus-svg, 
 svg.trashcan-svg {
  width: $gutterWidth;
 }

.clear-action {
  width: $trashWidth;
}


// Cart

#cart {
  display: flex;
  flex-direction: column;
}

.cart-container {
  display: flex; 
}


.cart-items-container {
  display: flex; 
  justify-content: space-between; 
}

.cart-line_entry {
    width: $nomsNcartContainerWidth;
  }

  .cart-detail {
    display: inline-block ;
      }

.checkout-button {
  align-self: flex-end;
}



// Font
html {
  font-family: $bodyFont;
}

// Modular Font-Size Calculations
html {
  @include fluid-type(font-size, $minViewWidth, $maxViewWidth, $minFontSize, $maxFontSize);
}

h1 {
  @include fluid-type(font-size, $minViewWidth, $maxViewWidth, $h1Min, $h1Max);
}

h2 {
  @include fluid-type(font-size, $minViewWidth, $maxViewWidth, $h2Min, $h2Max);
}

h3 {
  @include fluid-type(font-size, $minViewWidth, $maxViewWidth, $h3Min, $h3Max);
}

h4 {
  @include fluid-type(font-size, $minViewWidth, $maxViewWidth, $h4Min, $h4Max);
}

h5 {
  @include fluid-type(font-size, $minViewWidth, $maxViewWidth, $h5Min, $h5Max);
}

h6 {
  @include fluid-type(font-size, $minViewWidth, $maxViewWidth, $h5Min, $h5Max);
}

.add_sub-svg {
  @include fluid-type(height, $minViewWidth, $maxViewWidth, $h4Min, $h4Max );
}



.legend {
  .room_temperature {
    color: $room-temp;
  }
  .refrigerator {
    color: $refrigerator;
  }
  .freezer {
     color: $freezer;
  }
}


.table-striped>tbody {
  tr.room_temperature>td {
    color: $room-temp;
  }
  tr.refrigerator>td {
    color: $refrigerator;
  }
  tr.freezer>td {
     color: $freezer;
  }
}



// Layout
