@import "vendors/meyerwebreset";
@import "vendors/responsive-typography";
@import "variables";
@import "mixins";
@import "vendors/include-media";

.stock-entry {
  .hidden {
    display: none;
  }
}

// Layout
.container {
  display: flex;
  height: 100vh
}
// Food selection Layout
.container-fluid, 
.main{
  display: flex;
}
.stock-selection-container {
  width: $stockContainerWidth;
}

.shopping-cart-svg {
  width: $gutterWidth;
  display: block;
}

.right-side-container {
  border-left: $gutterWidth/2 solid $textColor;;
  width: $nomsNcartContainerWidth - 1vw;
  height: 100vh;
}

.account-info-container {
  display: flex;
  height: $nomsContainerHeight - 3vh;
  flex-direction: column;
  justify-content: space-around;
  padding: 1vw;
}

.account-action-buttons {
  display: flex ;
  width: 100%;
  justify-content: space-around;

  a.btn.btn-default,
  button.btn.btn-default {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: textColor;
    text-decoration: none;
    border: 2px solid $textColor;
    border-radius: 1vh;
    text-align: center;
    line-height: normal;
  }

}


// Tab-nav layout
.nav-tab-container {
  display: flex;
  width: 100%;

  a {
    width: $stockContainerWidth/3;
    text-align: center;
  }
}

.nav-tab {
  flex-grow: 1;
  height: $navTabHeight;
  display: flex;
  justify-content: center;
  h3 {
    align-self: center;  

  }
}

.tab-content{
  .tab-pane {
    display:none;

    &.active {
      display: flex;
      flex-direction: column;
    }
  }
}
.nom-type-remaining {
  display: flex;
  width: 100%;
  height: $nomTypeRemainingSize;
  justify-content: center;
  align-items: center;
}
// Stock entry layout
.stock-list {
  display: flex;
  flex-direction: column;
  max-height: $stockListHeight;
  overflow-y: auto;
}
.stock-entry {
  width: $stockContainerWidth;
  display: flex;
  justify-content: space-between;
  margin: 1vh 0;
  min-height: $stockEntryHeight;
}

.item-details {
  display: flex; 
  flex-direction: row;
}

.stock-image-location, .stock-image {
  width: $stockEntryImageSize;
  height: $stockEntryImageSize;
}

.item-info, 
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item_control-container {
  display: flex;
}

.quantity_control_trash-container {
  display: flex;
  flex-direction: row;
}

.quantity-available {
  align-self: center;
}



//Buttons

button.btn-primary {
  border: 1px solid $textColor;
  border-radius: 5px;
  padding: .2rem;
}
button {
  background: transparent;
  border: none;
  padding: 0;
}

.remove-amount-add-button-container {
 display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
}

button.plus-minus-button {
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $plusMinusButtonWidth;
}

button.add-to-cart  {
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: $addToCartWidth;
}

 svg.plus-svg, 
 svg.minus-svg, 
 svg.trashcan-svg {
  width: $gutterWidth;
 }

.clear-action {
  width: $trashWidth;
}


// Cart

#cart {
  display: flex;
  flex-direction: column;
  border-top: 1vw solid black;
}

.cart-heading {
  padding: 1vw;
}

.cart-container {
  display: flex; 
}


.cart-items-container {
  margin-top: 2vh;
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; 
  padding: 1vh 1vh 0;
  overflow-y: auto;
  height: 44.35vh;
}

.cart-line_entry {
  margin: 0.2vh 0;
  max-height: 1.2rem;
}

.cart-detail {
    display: inline-block ;
  }


form.shopping_cart-button  button{
  // border: 1px solid $textColor;
  font-size: 1.5rem;
  background-color: #2A2A2A;
  width: $nomsNcartContainerWidth;
  text-align: center;
  align-self: center;
  color: white;
  padding: $gutterWidth;
}

// Manage pages
main {
    display: flex;
    flex-direction: column;
}

.form-group{
  display: block;
}

input.form-control, 
#user_family_members {
  box-shadow: inset 0 0 0.1rem 0 rgba(0,0,0,0.5);
}

// User selection/entry
// 
ul.user-list {
  display: flex;
  flex-direction: column;
}

.h2-heading {
  margin: 1vw;
}

.h3-heading {
  margin: 1vw;
  display: block;
}

// Font
html {
  font-family: $bodyFont;
  color: $textColor;
}

// Modular Font-Size Calculations
html {
  @include fluid-type(font-size, $minViewWidth, $maxViewWidth, $minFontSize, $maxFontSize);
}

h1 {
  @include fluid-type(font-size, $minViewWidth, $maxViewWidth, $h1Min, $h1Max);
}

h2 {
  @include fluid-type(font-size, $minViewWidth, $maxViewWidth, $h2Min, $h2Max);
  margin: $gutterWidth;
}

h3 {
  @include fluid-type(font-size, $minViewWidth, $maxViewWidth, $h3Min, $h3Max);
}

h4 {
  @include fluid-type(font-size, $minViewWidth, $maxViewWidth, $h4Min, $h4Max);
}

h5 {
  @include fluid-type(font-size, $minViewWidth, $maxViewWidth, $h5Min, $h5Max);
}

h6 {
  @include fluid-type(font-size, $minViewWidth, $maxViewWidth, $h5Min, $h5Max);
}

.add_sub-svg {
  @include fluid-type(height, $minViewWidth, $maxViewWidth, $h4Min, $h4Max );
}



.legend {
  .room_temperature {
    color: $room-temp;
  }
  .refrigerator {
    color: $refrigerator;
  }
  .freezer {
     color: $freezer;
  }
}


.table-striped>tbody {
  tr.room_temperature>td {
    color: $room-temp;
  }
  tr.refrigerator>td {
    color: $refrigerator;
  }
  tr.freezer>td {
     color: $freezer;
  }
}



// Layout
