<div class="jumbotron">
  <h2><%= gettext "Are you a registered user?" %></h2>
</div>

<div class="row">
    <a href="<%= food_selection_path(@conn, :index, @conn.assigns.locale) %>"><%= gettext "Yes" %></a>
    <a href="<%= registration_path(@conn, :create, @conn.assigns.locale) %>"><%= gettext "No" %></a>
  </div>
</div>
