<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :entree, class: "control-label" %>
    <%= text_input f, :entree, class: "form-control" %>
    <%= error_tag f, :entree %>
  </div>

  <div class="form-group">
    <%= label f, :side_dish1, class: "control-label" %>
    <%= text_input f, :side_dish1, class: "form-control" %>
    <%= error_tag f, :side_dish1 %>
  </div>

  <div class="form-group">
    <%= label f, :side_dish2, class: "control-label" %>
    <%= text_input f, :side_dish2, class: "form-control" %>
    <%= error_tag f, :side_dish2 %>
  </div>

  <div class="form-group">
    <%= label f, :dessert, class: "control-label" %>
    <%= text_input f, :dessert, class: "form-control" %>
    <%= error_tag f, :dessert %>
  </div>

  <div class="form-group">
    <%= label f, :calories, class: "control-label" %>
    <%= number_input f, :calories, class: "form-control" %>
    <%= error_tag f, :calories %>
  </div>

  <div class="form-group">
    <%= label f, :calories_from_fat, class: "control-label" %>
    <%= number_input f, :calories_from_fat, class: "form-control" %>
    <%= error_tag f, :calories_from_fat %>
  </div>

  <div class="form-group">
    <%= label f, :calcium, class: "control-label" %>
    <%= number_input f, :calcium, class: "form-control" %>
    <%= error_tag f, :calcium %>
  </div>

  <div class="form-group">
    <%= label f, :sodium, class: "control-label" %>
    <%= number_input f, :sodium, class: "form-control" %>
    <%= error_tag f, :sodium %>
  </div>

  <div class="form-group">
    <%= label f, :cholesterol, class: "control-label" %>
    <%= number_input f, :cholesterol, class: "form-control" %>
    <%= error_tag f, :cholesterol %>
  </div>

  <div class="form-group">
    <%= label f, :carbohydrate, class: "control-label" %>
    <%= number_input f, :carbohydrate, class: "form-control" %>
    <%= error_tag f, :carbohydrate %>
  </div>

  <div class="form-group">
    <%= label f, :sugars, class: "control-label" %>
    <%= number_input f, :sugars, class: "form-control" %>
    <%= error_tag f, :sugars %>
  </div>

  <div class="form-group">
    <%= label f, :fat, class: "control-label" %>
    <%= number_input f, :fat, class: "form-control" %>
    <%= error_tag f, :fat %>
  </div>

  <div class="form-group">
    <%= label f, :saturated_fat, class: "control-label" %>
    <%= number_input f, :saturated_fat, class: "form-control" %>
    <%= error_tag f, :saturated_fat %>
  </div>

  <div class="form-group">
    <%= label f, :protein, class: "control-label" %>
    <%= number_input f, :protein, class: "form-control" %>
    <%= error_tag f, :protein %>
  </div>

  <div class="form-group">
    <%= label f, :fiber, class: "control-label" %>
    <%= number_input f, :fiber, class: "form-control" %>
    <%= error_tag f, :fiber %>
  </div>

  <div class="form-group">
    <%= label f, :weight, class: "control-label" %>
    <%= number_input f, :weight, step: "any", class: "form-control" %>
    <%= error_tag f, :weight %>
  </div>

  <div class="form-group">
    <%= label f, :description, class: "control-label" %>
    <%= text_input f, :description, class: "form-control" %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
