<h2>Listing meals</h2>

<table class="table">
  <thead>
    <tr>
      <th>Entree</th>
      <th>Side dish1</th>
      <th>Side dish2</th>
      <th>Dessert</th>
      <th>Calories</th>
      <th>Calories from fat</th>
      <th>Calcium</th>
      <th>Sodium</th>
      <th>Cholesterol</th>
      <th>Carbohydrate</th>
      <th>Sugars</th>
      <th>Fat</th>
      <th>Saturated fat</th>
      <th>Protein</th>
      <th>Fiber</th>
      <th>Weight</th>
      <th>Description</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for meal <- @meals do %>
    <tr>
      <td><%= meal.entree %></td>
      <td><%= meal.side_dish1 %></td>
      <td><%= meal.side_dish2 %></td>
      <td><%= meal.dessert %></td>
      <td><%= meal.calories %></td>
      <td><%= meal.calories_from_fat %></td>
      <td><%= meal.calcium %></td>
      <td><%= meal.sodium %></td>
      <td><%= meal.cholesterol %></td>
      <td><%= meal.carbohydrate %></td>
      <td><%= meal.sugars %></td>
      <td><%= meal.fat %></td>
      <td><%= meal.saturated_fat %></td>
      <td><%= meal.protein %></td>
      <td><%= meal.fiber %></td>
      <td><%= meal.weight %></td>
      <td><%= meal.description %></td>

      <td class="text-right">
        <%= link "Show", to: meal_path(@conn, :show, meal), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: meal_path(@conn, :edit, meal), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: meal_path(@conn, :delete, meal), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New meal", to: meal_path(@conn, :new) %>
