<h2>Edit user food package</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_food_package_path(@conn, :update, @user_food_package) %>

<%= link "Back", to: user_food_package_path(@conn, :index) %>
