<h2>Show user food package</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @user_food_package.user_id %>
  </li>

  <li>
    <strong>Ready for pickup:</strong>
    <%= @user_food_package.ready_for_pickup %>
  </li>

  <li>
    <strong>Finalized:</strong>
    <%= @user_food_package.finalized %>
  </li>

</ul>

<%= link "Edit", to: user_food_package_path(@conn, :edit, @user_food_package) %>
<%= link "Back", to: user_food_package_path(@conn, :index) %>
