<h2>Show food group</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @food_group.name %>
  </li>

  <li>
    <strong>Monthly credits:</strong>
    <%= @food_group.monthly_credits %>
  </li>

</ul>

<%= link "Edit", to: food_group_path(@conn, :edit, @food_group) %>
<%= link "Back", to: food_group_path(@conn, :index) %>
