<div id="auth_request">
  <img src="<%= static_path(@conn, "/images/auth_logo.png") %>" />

  <div>
    <%= form_tag @callback_url, method: "post" do %>
      <input type='email' name='email' placeholder='name@email.com' value='<%= @conn.params["email"] %>' autofocus />

      <input type='password' name='password' placeholder='password' />

      <button class="btn btn-primary">Log In</button>
    <% end %>
  </div>
</div>
